header {
    color: #fff;
    background-color: #000;
}

hr {
    margin: 0;
    height: 13px;
    background-color: #ffca00;
    border: none;
}

a {
    text-decoration: none;
}

ul,
li {
    padding: 0;
    list-style: none;
}

.menu,
.logo {
    display: flex;
    justify-content: space-between;
    padding: 29px;
}

.menu ul {
    display: flex;
    column-gap: 29px;
}

.menu a {
    color: #fff;
}

.logo-box {
    display: flex;
}

.logo-box img {
    width: 110px;
    height: 90px;
}

.logo-text {
    padding-left: 30px;
}

.logo a {
    padding: 35px;
    color: #000;
    background-color: #ffca00;
}

.robota {
    padding-left: 50px;
    padding-top: 55px;
    padding-bottom: 96px;
    background-image: url("content/img/stock.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    font-family: "Arial";
}

.robota h1 {
    margin: 0;
    position: 0;
    font-size: 36px;
}

.robota li {
    margin: 10px 0;
}

.items {
    padding-left: 60px;
    color: #fff;
    background-repeat: no-repeat;

}

.grass {
    background-image: url("content/img/grass.png");
}

.parcan {
    background-image: url("content/img/parcan.png");
}

.brama {
    background-image: url("content/img/brama.png");
}

.mebli {
    background-image: url("content/img/mebli.png");
}

.article {
    padding: 100px 50px;
    padding-top: 55px;
    color: #fff;
    background-color: #000;
}

.article img {
    display: block;
    margin: auto;
    width: 50%;
}

.article h4 {
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 42px;
    color: #fff;
    font-family: "Arial";
}

.article p {
    /* text-indent: 50px; */
    padding-bottom: 15px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    font-family: "Vollkorn";
}

.proposition {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #000;
}

.proposition-box {
    padding: 20px;
    padding-left: 50px;
}

.proposition-box p {
    font-size: 42px;
    font-family: "Arial";
}

.proposition img {
    display: block;
    width: 50%;
}